<div class="text-block-wrap clearfix visibility">
    {{#col}}
    <div class="text-block__col">
        {{#item}}
        <a href="{{link}}" class="link text-block__item services-block__item" title="{{name}}">
            <span class="text-block__icon services-block__icon icon {{icon}}"></span><span class="text-block__title services-block__title">{{name}}</span>
        </a>
        {{/item}}
    </div>
    {{/col}}
</div>