.sidebar-multilevel {
  width: 285px;
  float: left;
  background-color: #fff;
  padding-right: 30px; }

.sidebar-multilevel__menu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 35px;
  margin-top: 3px; }

.sidebar-multilevel__item {
  position: relative;
  margin-bottom: 13px; }

.sidebar-multilevel__icon {
  position: absolute;
  top: 5px;
  right: 0;
  height: 20px;
  width: 20px;
  line-height: 22px;
  text-align: center;
  background-color: #f6f8f9;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .sidebar-multilevel__icon:before {
    color: #67686b;
    font-size: 8px;
    display: block; }

.sidebar-multilevel__icon_active {
  background-color: #f84739;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }
  .sidebar-multilevel__icon_active:before {
    color: #fff; }

.sidebar-multilevel__link {
  font-weight: 300;
  color: #000;
  display: block; }
  .sidebar-multilevel__link:hover, .sidebar-multilevel__link:focus {
    color: #ca0c10; }

.sidebar-multilevel-menu__link_active {
  cursor: default; }

.sidebar-multilevel__submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 13px;
  display: none; }

.sidebar-multilevel__subitem {
  margin-bottom: 13px; }

.sidebar-multilevel__sublink {
  color: #67686b;
  font-weight: 200;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .sidebar-multilevel__sublink:hover, .sidebar-multilevel__sublink:focus {
    color: #ca0c10; }

.sidebar-multilevel__sublink_active {
  cursor: default;
  color: #ca0c10; }
