.services-detail {
  padding-top: 15px; }

.service-detail__block.text__block {
  padding-right: 65px;
  margin-top: 22px;
  margin-bottom: 30px; }

.service-detail__certificate {
  padding-bottom: 90px; }

.service-detail-certificate__content {
  margin-bottom: 10px;
  margin-top: 25px; }

.service-detail-certificate__img {
  float: left;
  width: 255px;
  height: 355px;
  margin-right: 30px;
  background: url("/images/certificate.png") no-repeat center center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(7, 10, 14, 0.1), 0px 5px 20px 0px rgba(7, 10, 14, 0.1);
  -ms-box-shadow: 0px 2px 5px 0px rgba(7, 10, 14, 0.1), 0px 5px 20px 0px rgba(7, 10, 14, 0.1);
  box-shadow: 0px 2px 5px 0px rgba(7, 10, 14, 0.1), 0px 5px 20px 0px rgba(7, 10, 14, 0.1);
  border-radius: 5px; }

.service-detail-certificate__text {
  float: left;
  width: 500px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.4px;
  line-height: 1.6; }

.service-detail-certificate-feature-wrap {
  margin-top: 90px; }

.service-detail-certificate__feature {
  float: left;
  margin-left: 5px;
  margin-right: 65px; }

.service-detail-certificate__icon {
  height: 70px;
  width: 70px;
  line-height: 68px;
  background-color: #f1f4f6;
  float: left;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-right: 25px;
  border-radius: 50%; }
  .service-detail-certificate__icon:before {
    font-size: 25px;
    color: #d6141c; }
  .service-detail-certificate__icon.icon_time {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1); }

.service-detail-certificate__values {
  float: left; }

.service-detail-certificate__value {
  font-weight: 200;
  display: block;
  margin-bottom: 5px; }

.service-detail-certificate__number {
  font-family: "GothamPro", sans-serif;
  font-size: 32px;
  line-height: 1; }

.service-detail-certificate__time {
  font-size: 26px;
  font-family: "GothamPro", sans-serif; }

.service-detail-certificate__measure {
  font-size: 18px; }

.service-detail-certificate__currency {
  font-family: "PTRoubleSans", sans-serif;
  font-size: 28px;
  line-height: 1; }
