.rate {
  padding-top: 35px; }
  .rate hr {
    width: 105px;
    height: 1px;
    background-color: #bcc7d1;
    margin: auto;
    border: 0; }

.rate__header {
  text-align: center; }

.rate__panels {
  margin-top: 35px;
  margin-bottom: 60px; }

.rate__panel {
  width: 350px;
  border: solid 1px #b3b8c7;
  text-align: center;
  min-height: 550px;
  padding: 50px 10px;
  float: left;
  margin-left: 30px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .rate__panel:first-child {
    margin-left: 0; }
  .rate__panel:hover, .rate__panel:focus {
    border-color: transparent;
    background-color: #f6f8f9; }

.rate-panel__subheader {
  font-weight: 200;
  font-size: 20px;
  color: #000; }

.rate-panel__header {
  font-size: 28px;
  font-weight: 300;
  color: #000;
  letter-spacing: 0.8px;
  margin-bottom: 25px; }

.rate-panel__duration {
  color: #67686b;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px; }

.rate-panel__variant {
  color: #ca0c10;
  font-size: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0;
  padding-right: 22px; }
  .rate-panel__variant:before {
    float: right;
    font-size: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%); }
  .rate-panel__variant:focus {
    outline: none; }

.rate-panel-variant__text {
  border-bottom: dotted 1px; }

.rate-panel__price {
  margin-bottom: 13px; }

.rate-panel-price__text {
  font-weight: 200;
  color: #67686b;
  margin-bottom: 5px;
  margin-top: 16px; }

.rate-panel-price__about {
  width: 15px;
  height: 15px;
  line-height: 14px;
  background-color: #d8e1e5;
  font-weight: 300;
  font-size: 12px;
  color: #67686b;
  display: inline-block;
  cursor: pointer;
  margin-left: 8px;
  position: relative;
  border-radius: 2px;
  -webkit-transition: 0.1s;
  transition: 0.1s; }
  .rate-panel-price__about:hover, .rate-panel-price__about:focus {
    background-color: #ed3a3a;
    color: #fff; }
    .rate-panel-price__about:hover .rate__pop-up, .rate-panel-price__about:focus .rate__pop-up {
      display: block; }

.rate-panel-price__number {
  font-family: "GothamPro", sans-serif;
  font-size: 32px;
  color: #000; }

.rate-panel-price__currency {
  font-family: "PTRoubleSans", sans-serif;
  font-size: 28px; }

.rate-panel__btn {
  width: 240px;
  margin: auto;
  margin-bottom: 38px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .rate-panel__btn:hover, .rate-panel__btn:focus {
    background-color: #f13f3a;
    border-color: #f13f3a; }
    .rate-panel__btn:hover .rate-panel__btn-link, .rate-panel__btn:focus .rate-panel__btn-link {
      color: #fff; }
  .rate-panel__btn .rate-panel__btn-link {
    color: #67686b; }

.rate-panel__btn-link {
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.rate-panel-about__link {
  font-weight: 200;
  padding-bottom: 5px;
  border-bottom: dotted 1px;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .rate-panel-about__link:hover, .rate-panel-about__link:focus {
    color: #ca0c10;
    border-bottom-color: transparent; }

.rate-panel__prices {
  margin-bottom: 35px; }

.rate-panel-variant__current {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.rate-btn-wrap {
  text-align: center; }

.rate__btn {
  width: 275px;
  font-size: 18px;
  display: inline-block;
  margin-right: 30px; }
  .rate__btn.btn_trigger {
    height: 60px; }
  .rate__btn:last-child {
    margin-right: 0; }

.rate__btn-link {
  padding-top: 17px;
  padding-bottom: 19px;
  font-size: 18px; }
