<section class="review visibility">
    <div class="container container_narrow">
        <div class="review__head">
            <h1 class="h1 review__header">Отзывы клиентов</h1>
        </div>
        <div class="review__body">
            <div class="review__slider">
                {{#reviews}}
                <div class="review-slide-wrap" id="{{strId}}">
                    <div class="review__slide">
                        <div class="review-slide__img" style="background-image: url('{{picture}}');"></div>
                        <div class="review-slide__title-and-text">
                            <div class="review-slide__title">{{author}}</div>
                            <div class="review-slide__text">{{{announce}}}</div>
                        </div>
                    </div>
                </div>
                {{/reviews}}
            </div>
        </div>
        <div class="review__footer">
            <div class="btn btn_linear review__btn"><a href="#" class="link btn__link review__btn-link" title="Читать отзыв целиком">Читать отзыв целиком</a></div>
            <div class="btn btn_main review__btn review__btn_main"><a href="#review__form" class="link btn__link review__btn-link review__pop-up-opener">Оставить свой отзыв</a></div>
        </div>
    </div>
    <div class="review__form feedback-form-modal-wrap" id="review__form">
        <div class="feedback-form__head">
            <h1 class="feedback-form__header">Добавить отзыв</h1>
        </div>
        <form action="#" class="feedback-form feedback-fom_modal">
            <div class="feedback-form-group">
                <input type="text" class="feedback-form__control feedback-form__control_type_text" placeholder="Введите ФИО">
            </div>
            <div class="feedback-form-group">
                <textarea class="feedback-form__control feedback-form__control_type_textarea feedback-form__control_type_textarea_tall" placeholder="Текст отзыва"></textarea>
            </div>
            <div class="feedback-form__footer">
                <div class="feedback-form-group clearfix">
                    <label for="form__checkbox" class="custom-control custom-control_type_checkbox">
                        <input type="checkbox" class="custom-control__input" id="form__checkbox" checked>
                        <span class="custom-control__indicator icon icon_checked"></span>
                        <span class="custom-control__name">Я согласен на обработку</span> <a href="#" class="link custom-control__link" title="Политика конфиденциальности">персональных данных</a>
                    </label>
                </div>
                <div class="feedback-form-group">
                    <button class="btn btn_main feedback-form__btn"><span class="btn__link">Добавить отзыв</span></button>
                    <div class="feedback-form__footnote"></div>
                </div>
            </div>
        </form>
    </div>
</section>