.visibility {
  opacity: 0;
  -webkit-transition: visibility 0s linear 1s, opacity .5s linear .5s;
  transition: visibility 0s linear 1s, opacity .5s linear .5s;
  visibility: hidden; }

.visibility_on_load {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }
