.nav {
  background-image: url("/images/texture_head.png");
  background-size: cover;
  width: 100%; }

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav__item {
  padding: 0 33px;
  float: left; }
  .nav__item:first-child {
    padding-left: 0; }
  .nav__item:last-child {
    padding-right: 0; }
  .nav__item:hover .nav__undescore, .nav__item:focus .nav__undescore {
    border-bottom-color: #fff; }

.nav__link {
  color: #fff;
  font-size: 17px;
  width: 100%;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 17px; }

.nav__undescore {
  border-bottom: solid 1px transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
