.products-vendors {
  padding-top: 35px;
  padding-bottom: 90px; }

.products-vendors__row {
  text-align: justify; }
  .products-vendors__row:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0; }

.products-vendors-row__item {
  display: inline-block; }

.products-vendors-logo-wrap {
  height: 130px;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  opacity: 0.5; }
  .products-vendors-logo-wrap:hover, .products-vendors-logo-wrap:focus {
    -webkit-filter: none;
            filter: none;
    opacity: 1; }

.products-vendors__logo {
  max-height: 130px; }
