<div class="header__location">
    <button class="header-location__btn header__title"><span class="header-location__showcase"><span class="header-location__link icon icon_arrow-angle-down">Пятигорск</span></span></button>
    <div class="header-location__list">
        {{#cities}}
        <div class="header-location__item {{activeCity}}" data-tel="{{tel}}">{{name}}</div>
        {{/cities}}
    </div>
</div>
<div class="header__text header__tel">{{activeTel}}</div>