.sticker {
  position: absolute; }

.sticker__bar {
  width: 60px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  vertical-align: middle;
  border-radius: 8px; }

.sticker__bar_new {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 9px;
  background-color: #35c82d; }
