        <div class="contacts__panels clearfix">
            {{#contacts}}
            <div class="contacts__panel" id="{{strId}}">
                <div class="contacts-panel__title">{{name}}</div>
                <div class="contacts-panel__tels contacts-panel__icon icon icon_phone">
                    {{#tel}}
                    <div class="contacts-panel__tel">{{.}}</div>
                    {{/tel}}
                </div>
                <div class="contacts-panel__mails contacts-panel__icon icon icon_mail">
                    {{#email}}
                    <a href="mailto:{{.}}" class="link contacts-panel__mail" title="{{.}}">{{.}}</a>
                    {{/email}}
                </div>
                <div class="contacts-panel__addresses contacts-panel__icon icon icon_pin">
                    <div class="contacts-panel__address">{{address}}</div>
                </div>
                <div class="contacts-panel__footer">
                    <button class="contacts-panel__link" data-lat="{{lat}}" data-lon="{{lon}}" data-hint-content="{{name}}" data-balloon-content="{{bullet}}">Показать на карте</button>
                </div>
            </div>
            {{/contacts}}
        </div>
