<div class="sidebar__menu">
    {{#items}}
    <div class="sidebar__item">
        <a href="{{link}}" class="link sidebar-menu__link {{linkActive}}" title="{{name}}">{{name}}</a>
    </div>
    {{/items}}
</div>