.minibanner-section {
  width: 100%;
  height: 342px;
  background: #333 url("/images/minibanner__bg.png") top center;
  background-size: cover; }

.minibanner {
  float: left;
  width: 270px;
  height: 215px;
  margin: 63px 15px;
  background-position: center center; }
  .minibanner:first-child {
    margin-left: 0; }
  .minibanner:last-child {
    margin-right: 0; }

.minibanner_v1 {
  background-image: url("/images/minibanner/adv1.png"); }

.minibanner_v2 {
  background-image: url("/images/minibanner/adv2.png"); }

.minibanner_v3 {
  background-image: url("/images/minibanner/adv3.png"); }

.minibanner_v4 {
  background-image: url("/images/minibanner/adv4.png"); }
