.footer {
  background: #333 url("/images/texture_footer.png") top center;
  background-size: cover; }

.footer__menu {
  padding-top: 70px;
  padding-bottom: 65px;
  border-bottom: solid 1px #2e3236; }

.footer-menu__item {
  float: left;
  width: 255px;
  margin-left: 40px; }
  .footer-menu__item:first-child {
    margin-left: 0; }
  .footer-menu__item_narrow {
    width: 225px; }

.footer-menu__header {
  font-weight: 600;
  color: #fff;
  font-size: 18px;
  margin-bottom: 25px; }

.footer-menu__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.footer-menu-list__item {
  margin-bottom: 12px; }

.footer-menu__link {
  color: #8ba4c4;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .footer-menu__link:hover, .footer-menu__link:focus {
    color: #67686b; }

.footer__contact {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #2e3236; }

.footer-contact__item {
  float: left;
  width: 277.5px; }

.footer-contact__city {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin-top: 7px;
  margin-bottom: 10px; }

.footer-contact__tel {
  color: #fff;
  font-size: 21px;
  font-weight: 300; }

.footer-contact__address {
  font-size: 14px;
  color: #8ba4c4; }

.footer-contact-btn-wrap {
  text-align: right; }

.footer-contact__btn {
  display: inline-block;
  width: 210px;
  margin-bottom: 14px; }
  .footer-contact__btn.btn_main {
    border: solid 1px #f94839; }
  .footer-contact__btn.btn_linear, .footer-contact__btn.btn_linear .footer-contact__btn-link {
    color: #8ba4c4; }

.footer-contact__btn-link {
  font-size: 14px;
  display: inline-block;
  padding-top: 12.5px;
  padding-bottom: 13.5px; }

.footer__signs {
  padding-top: 21px;
  padding-bottom: 22px; }

.footer__copyright {
  float: left;
  font-size: 14px;
  color: #8ba4c4;
  margin-top: 13px; }

.footer__dev-sign {
  float: right;
  text-align: right; }

.footer-dev-sign__title {
  color: #8ba4c4;
  font-size: 14px; }

.footer-dev-sign__name {
  color: #1ea4c1;
  font-weight: 300; }
