@charset "UTF-8";
.products-detail {
  padding-top: 15px; }
  .products-detail.text p {
    margin: 14px 0; }
  .products-detail h2 {
    line-height: 1.1;
    margin-top: 35px; }
  .products-detail ol {
    padding: 0;
    padding-right: 95px;
    margin: 0;
    margin-top: 19px;
    list-style-position: inside; }
    .products-detail ol li {
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 40px; }
      .products-detail ol li p {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.9; }
  .products-detail ul {
    padding: 0;
    padding-right: 95px;
    margin: 0;
    list-style-type: none; }
    .products-detail ul li {
      position: relative;
      font-size: 16px;
      font-weight: 200;
      line-height: 1.9;
      margin-bottom: 13px; }
      .products-detail ul li:before {
        content: '—';
        padding-right: 8px; }
