.similar {
  padding-top: 60px;
  padding-bottom: 145px; }

.similar_short {
  padding-bottom: 130px; }

.similar_shorter {
  padding-bottom: 120px; }

.similar_mini {
  padding-top: 40px;
  padding-bottom: 100px; }

.similar_nano {
  padding-top: 40px;
  padding-bottom: 5px; }

.similar__header {
  float: left;
  max-width: 950px; }

.similar-slider__toolbar {
  float: left;
  margin-left: 55px;
  vertical-align: middle; }

.similar__body {
  margin-top: 25px; }

.similar__slider {
  min-height: 235px; }

.similar__slider_mini {
  min-height: 130px; }
  .similar__slider_mini .similar__slide {
    min-height: 130px; }
  .similar__slider_mini .similar-slide__title {
    margin: 0; }

.similar__slide {
  width: 350px;
  padding: 22px 27px;
  min-height: 235px;
  margin: auto;
  background-color: #f6f8f9;
  display: block; }
  .similar__slide:hover .similar-slide__title, .similar__slide:focus .similar-slide__title {
    color: #ca0c10; }

.similar-slide__title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 18px;
  color: #000;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.similar-slide__value {
  font-weight: 200;
  margin-bottom: 5px;
  display: block;
  color: #000; }

.similar-slide__price {
  font-family: "GothamPro", sans-serif;
  font-size: 32px;
  color: #67686b;
  display: block; }

.similar-slide__currency {
  font-family: "PTRoubleSans", sans-serif;
  font-size: 28px;
  color: #67686b; }

.similar-slider__arrow {
  background-color: transparent;
  height: 40px;
  width: 46px;
  line-height: 38px;
  border: solid 1px #d2d5d8;
  border-right: none;
  cursor: pointer;
  float: left;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .similar-slider__arrow:last-child {
    border-right: solid 1px #d2d5d8; }
  .similar-slider__arrow:before {
    color: #d9000c;
    font-size: 16px;
    display: inline-block; }
  .similar-slider__arrow:hover, .similar-slider__arrow:focus {
    background-color: #f03e3a;
    border-color: #f03e3a;
    outline: none; }
    .similar-slider__arrow:hover:before, .similar-slider__arrow:focus:before {
      color: #fff; }

.similar__footer {
  margin-top: 30px; }

.similar__btn {
  width: 250px;
  float: left;
  margin-right: 30px; }
  .similar__btn.btn_main {
    border: solid 1px #ee3b3a; }
  .similar__btn.btn_linear .similar__btn-link {
    color: #67686b; }

.similar__btn-link {
  padding-top: 16px;
  padding-bottom: 18px;
  font-size: 18px; }
