.studying-center {
  padding-top: 20px; }

.studying-center__list {
  margin-top: 35px;
  width: 630px; }

.studying-center__subheader {
  margin: 35px 0; }

.studying-center__btn-block {
  margin-top: 5px; }

.studying-center__btn {
  width: 250px;
  display: inline-block;
  margin-right: 25px; }
  .studying-center__btn.btn_main {
    border: solid 1px #f94939; }

.studying-center__btn-link {
  padding-top: 16px;
  padding-bottom: 18px;
  font-size: 18px; }

.studying-center__block.text__block {
  margin-bottom: 40px; }

.studying-center__table {
  margin-bottom: 60px; }
