.trigger-section {
  background-color: #f6f8f9; }

.trigger-wrap {
  float: left; }

.trigger {
  display: block;
  position: relative;
  width: 370px;
  padding: 43px; }
  .trigger:hover .trigger__icon, .trigger:focus .trigger__icon {
    border-color: #f4583a; }
    .trigger:hover .trigger__icon:before, .trigger:focus .trigger__icon:before {
      color: #f4583a; }
  .trigger:hover .trigger__text, .trigger:focus .trigger__text {
    color: #ca0c10; }

.trigger__icon {
  position: absolute;
  height: 66px;
  width: 66px;
  line-height: 60px;
  top: 50%;
  left: 0;
  border: solid 1px #bcc7d1;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%; }
  .trigger__icon:before {
    color: #bcc7d1;
    font-size: 36px;
    vertical-align: middle;
    display: inline-block; }
  .trigger__icon_small:before {
    font-size: 27px;
    padding-top: 5px; }

.trigger__title-and-text {
  margin-left: 52px;
  display: block; }

.trigger__title {
  color: #0f1924;
  display: block;
  margin-bottom: 8px; }

.trigger__text {
  color: #bcc7d1;
  font-weight: 600;
  font-size: 14px;
  display: block; }
