.student-review {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 110px; }

.student-review_short {
  padding-bottom: 40px; }

.student-review__head {
  margin-bottom: 32px; }

.student-review__btn {
  border-color: #565a63; }
  .student-review__btn .student-review__btn-link {
    color: #565a63; }
