<div class="feedback-success-message">
    <div class="content-box content-box_round feedback-success-message__icon-box">
        <div class="content-box__stub content-box__stub_round content-box__stub_white">
            <div class="icon icon_check icon_gradient feedback-success-message__icon"></div>
        </div>
    </div>
    <div class="feedback-success-message__title">{{{title}}}</div>
    <div class="feedback-success-message__text">{{{text}}}</div>
</div>