.tabs-on-main {
  background-color: #fff;
  padding-top: 68px;
  padding-bottom: 84px; }

.tabs-on-main__tablist {
  width: 100%; }

.tabs-on-main-tab-wrap {
  display: table-cell;
  width: 1%;
  float: none;
  text-align: center; }
  .tabs-on-main-tab-wrap:first-child .tabs-on-main__tab {
    margin-left: 0; }
  .tabs-on-main-tab-wrap:last-child .tabs-on-main__tab {
    margin-right: 0; }

.tabs-on-main__tab {
  background-color: #f6f8f9;
  color: #0076d6;
  font-weight: 300;
  font-size: 21px;
  margin: auto 10px;
  padding: 20px 10px;
  display: block;
  border: solid 1px transparent;
  border-bottom-color: #d8dadd;
  position: relative; }
  .tabs-on-main__tab_active {
    background-color: #fff;
    border: solid 1px #d8dadd;
    border-bottom-color: transparent; }

.tabs-on-main_sticker {
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.tabs-on-main__tabpanels {
  border: solid 1px #d8dadd;
  margin-top: -1px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.tabs-on-main__tabpanel {
  padding: 60px; }

.tabs-on-main__block {
  float: left;
  width: 328px;
  margin-bottom: 30px; }

.tabs-on-main__icon {
  width: 98px;
  height: 98px;
  line-height: 96px;
  background-color: #f1f4f6;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 50%; }
  .tabs-on-main__icon:before {
    color: #f85339;
    font-size: 50px;
    vertical-align: middle; }

.tabs-on-main__text {
  font-weight: 300;
  margin: auto;
  max-width: 200px;
  text-align: center; }

.tabs-on-main__footer {
  margin-top: 40px;
  margin-bottom: 10px; }

.tabs-on-main__btn {
  width: 240px;
  margin: auto; }

.tabs-on-main__btn-link {
  padding-top: 16px;
  padding-bottom: 17px;
  font-size: 18px; }
