.pop-up {
  display: none;
  position: absolute;
  z-index: 5; }

.pop-up_black {
  width: 214px;
  background-color: rgba(39, 41, 45, 0.902);
  color: #fff;
  font-weight: 200;
  font-size: 14px;
  padding: 10px 25px 12px 25px;
  line-height: 1.2;
  text-align: center;
  cursor: auto;
  border-radius: 5px; }

.pop-up_above {
  top: -22px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%); }
  .pop-up_above:after {
    border: 7px solid transparent;
    border-top: 12px solid rgba(39, 41, 45, 0.902);
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.pop-up-list-wrap {
  padding-top: 22px;
  background-color: transparent;
  width: 180px; }

.pop-up__list {
  background-color: #fff;
  padding: 14px 0;
  width: 180px;
  display: block;
  font-family: "Segoe UI", sans-serif;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px; }

.pop-up-list__item {
  color: #67686b;
  font-size: 18px;
  font-weight: 200;
  padding: 10px 30px;
  background-color: #fff;
  cursor: pointer;
  display: block;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .pop-up-list__item:hover, .pop-up-list__item:focus {
    color: #000;
    background-color: #f6f8f9; }

.pop-up-list__item_active {
  background-color: #f6f8f9;
  color: #000;
  cursor: default; }

.pop-up_under {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%); }
  .pop-up_under:before {
    border: 7px solid transparent;
    border-bottom: 14px solid #fff;
    content: '';
    position: absolute;
    left: 50%;
    top: 22px;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%); }
