<div class="tabs-on-main visibility">
    <div class="container container_narrow">
        <div class="tabs-on-main__tablist clearfix" role="tablist">
            {{#tabs}}
            <div class="tabs-on-main-tab-wrap">
                <a href="#tabs-on-main__tabpanel{{id}}" class="link tabs-on-main__tab {{activeTab}}" role="tab" data-toggle="tab" title="{{name}}">{{name}}</a>
            </div>
            {{/tabs}}
        </div>
        <div class="tabs-on-main__tabpanels">
            {{#tabs}}
            <div class="tabs-on-main__tabpanel tab-panel {{activeTabPanel}}" id="tabs-on-main__tabpanel{{id}}" role="tabpanel">
                <div class="clearfix">
                    {{#items}}
                    <div class="tabs-on-main__block" id="{{strId}}">
                        <div class="tabs-on-main__icon icon {{icon}}"></div>
                        <div class="tabs-on-main__text">{{{title}}}</div>
                    </div>
                    {{/items}}
                </div>
                <div class="tabs-on-main__footer">
                    <div class="btn btn_main tabs-on-main__btn"><a href="#" class="link btn__link tabs-on-main__btn-link" title="Смортеть все услуги">Смортеть все услуги</a></div>
                </div>
            </div>
            {{/tabs}}
        </div>
    </div>
</div>