.tab-panel {
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s, visibility 0.2s, top 0.4s;
  transition: opacity 0.2s, visibility 0.2s, top 0.4s; }

.tab-panel_active {
  display: block !important; }

.tab-panel_in {
  opacity: 1 !important;
  visibility: visible !important; }

.tab-panel_up {
  top: 0 !important; }
