.rate-tabs {
  padding-top: 60px;
  display: none; }

.rate-tabs__tablist {
  width: 100%; }

.rate-tabs-tab-wrap {
  display: table-cell;
  width: 1%;
  text-align: center;
  float: none; }
  .rate-tabs-tab-wrap:first-child .rate-tabs__tab {
    margin-left: 0; }
  .rate-tabs-tab-wrap:last-child .rate-tabs__tab {
    margin-right: 0; }

.rate-tabs__tab {
  margin: 0 2px;
  display: block;
  background-color: #f0f1f2;
  color: #67686b;
  font-weight: 200;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 3px 3px 0 0; }

.rate-tabs__tab_active {
  background-color: #f6f8f9; }

.rate-tabs__tabpanels {
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.rate-tab__table {
  border-collapse: collapse; }
  .rate-tab__table tr:nth-child(odd) {
    background-color: #f6f8f9; }
  .rate-tab__table tr:nth-child(even) {
    background-color: #f0f1f2; }
  .rate-tab__table th {
    padding: 34px 35px 38px 35px;
    font-size: 18px;
    text-align: left;
    font-weight: 400; }
  .rate-tab__table th:first-child, .rate-tab__table td:first-child {
    width: 510px; }
  .rate-tab__table th:nth-child(2), .rate-tab__table td:nth-child(2) {
    width: 320px; }
  .rate-tab__table td {
    padding: 25px 37px;
    font-weight: 200; }
