.text p {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.39px;
  line-height: 1.7;
  margin: 6px 0; }

.text__block {
  background-color: #f6f8f9;
  padding: 50px;
  padding-top: 40px;
  margin: 50px 0; }

.text-block__header {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.5px; }

.text-block__col {
  float: left;
  width: 50%; }
  .text-block__col:nth-child(2) {
    padding-left: 45px; }

.text-block__item {
  margin-top: 30px;
  display: block;
  position: relative; }

.text-block__title {
  font-weight: 300;
  color: #000; }

.text-block__title_offset {
  margin-left: 47px;
  display: inline-block; }

.text-block__marker {
  height: 26px;
  width: 26px;
  line-height: 24px;
  background-color: #e5ecef;
  position: absolute;
  top: 0;
  left: 0; }
  .text-block__marker:before {
    font-size: 10px;
    color: #888a8d; }

.text-block__icon {
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%; }
  .text-block__icon:before {
    display: inline-block; }

.text__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-list__item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 40px; }

.text-list__marker {
  height: 30px;
  width: 30px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #e5ecef;
  border-radius: 50%; }
  .text-list__marker:before {
    font-size: 10px;
    color: #d6141c;
    display: inline-block; }

.text-list__title {
  color: #27292d;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .text-list__title:hover, .text-list__title:focus {
    color: #ca0c10; }

.text-list__desc {
  font-weight: 200; }

.text__table {
  border-collapse: collapse; }
  .text__table tr {
    height: 100px; }
  .text__table tr:nth-child(even) {
    background-color: #f6f8f9; }
  .text__table tr:nth-child(odd) {
    background-color: #f0f1f2; }
  .text__table th {
    text-align: left;
    font-weight: 300;
    font-size: 20px; }
  .text__table td {
    font-weight: 200; }
  .text__table th, .text__table td {
    padding-left: 30px;
    letter-spacing: 0.35px;
    width: 33.33%; }
