.consul {
  background-color: #f6f8f9;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 90px; }

.consul_short {
  padding-bottom: 66px; }

.consul__desc {
  width: 570px;
  margin: auto;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.6;
  margin-top: 5px; }

.consul__form, .consul__form.form {
  width: 730px; }
  .consul__form .consul-form-group, .consul__form.form .consul-form-group {
    margin-top: 20px; }
  .consul__form .feedback-form__control:not(.feedback-form__control_type_file),
  .consul__form .feedback-form__control_type_select,
  .consul__form .feedback-form__control_type_option, .consul__form.form .feedback-form__control:not(.feedback-form__control_type_file),
  .consul__form.form .feedback-form__control_type_select,
  .consul__form.form .feedback-form__control_type_option {
    background-color: #e2e5e7; }
  .consul__form .feedback-form__control_type_option:hover, .consul__form .feedback-form__control_type_option:focus, .consul__form.form .feedback-form__control_type_option:hover, .consul__form.form .feedback-form__control_type_option:focus {
    background-color: #d4d7d9; }
  .consul__form .consul-form__btn, .consul__form.form .consul-form__btn {
    margin-top: 5px; }
  .consul__form .form__input[type="checkbox"] + .form-checkbox__label, .consul__form.form .form__input[type="checkbox"] + .form-checkbox__label {
    margin-top: 7px; }
  .consul__form .form__select_expand, .consul__form .form__option, .consul__form.form .form__select_expand, .consul__form.form .form__option {
    background-color: #d9dcde; }

.consul__item {
  float: left;
  width: 230px;
  margin-left: 20px; }
  .consul__item:first-child {
    margin-left: 0; }
