<section class="press visibility">
    <div class="press__head">
        <div class="container container_narrow">
            <h1 class="press__header">Пресс-центр</h1>
            <div class="press-slider__toolbar clearfix">
            </div>
            <div class="btn btn_linear press__btn">
                <a href="#" class="link btn__link press__btn-link">Смортеть все новости</a>
            </div>
        </div>
    </div>
    <div class="press__body">
        <div class="container container_wide">
            <div class="press__slider">
                {{#news}}
                <div class="press__slide" id="{{strId}}">
                    <div class="press-slide__date">{{date}}</div>
                    <div class="press-slide__text">{{name}}</div>
                </div>
                {{/news}}
            </div>
        </div>
    </div>
</section>
