.banner-on-main {
  height: 386px;
  background-image: url("/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover; }

.banner-on-main__container {
  height: 100%; }

.banner-on-main__content {
  width: 100%; }

.banner-on-main-slider-wrap {
  float: right;
  width: 870px;
  height: 214px; }

.banner-on-main__slider {
  background-color: #fff;
  width: 870px;
  height: 214px;
  position: relative; }
  .banner-on-main__slider .slick-slide {
    border: none; }
  .banner-on-main__slider .slick-dots {
    bottom: 8px;
    z-index: 1;
    position: absolute;
    left: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer; }
    .banner-on-main__slider .slick-dots li {
      padding: 0 4px;
      float: left; }
      .banner-on-main__slider .slick-dots li button {
        border: 0;
        background-color: #dde6ea;
        color: transparent;
        height: 2px;
        width: 40px;
        cursor: pointer; }
      .banner-on-main__slider .slick-dots li button:focus {
        outline: none; }
    .banner-on-main__slider .slick-dots li.slick-active button {
      background-color: #d6141c; }

.banner-on-main__slide {
  width: 870px;
  height: 214px !important; }

.banner-on-main-slide__content {
  width: 870px;
  height: 214px !important;
  background-repeat: no-repeat;
  background-position: center center;
  display: block; }
  .banner-on-main-slide__content:focus {
    outline: none; }

.banner-on-main-slider__arrow {
  height: 42px;
  width: 42px;
  line-height: 44px;
  background-color: #2b2e32;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .banner-on-main-slider__arrow:before {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    cursor: pointer; }

.banner-on-main-slider__arrow_left {
  right: 42px; }
  .banner-on-main-slider__arrow_left:before {
    margin-left: 5px; }

.banner-on-main-slider__arrow_right {
  right: 0; }
  .banner-on-main-slider__arrow_right:before {
    margin-right: 5px; }

.banner-on-main-panel-wrap {
  float: left;
  height: 216px;
  width: 269px; }

.banner-on-main__panel {
  height: 216px;
  width: 269px;
  padding: 40px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center; }
