.btn {
  text-align: center;
  cursor: pointer; }
  .btn:focus {
    outline: none; }

.btn__link {
  width: 100%;
  display: inline-block; }

.btn_main {
  background-color: #f84739;
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
  /* IE 8-9 */
  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  /* Firefox 3.6-15 */
  /* IE 11 */
  /* Opera 11.1-12 */
  background: -webkit-gradient(linear, right top, left top, from(#ea363b), to(#fd4d39));
  background: linear-gradient(-90deg, #ea363b 0%, #fd4d39 100%);
  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  border-radius: 29px; }
  .btn_main, .btn_main .btn__link {
    color: #fff; }
  .btn_main .btn__link {
    position: relative;
    z-index: 3; }
  .btn_main:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-radius: 29px;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=$type, startColorstr=$bc, endColorstr=$ec)";
    /* IE 8-9 */
    /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    /* Firefox 3.6-15 */
    /* IE 11 */
    /* Opera 11.1-12 */
    background: -webkit-gradient(linear, right top, left top, from(#fd4d39), to(#ea363b));
    background: linear-gradient(-90deg, #fd4d39 0%, #ea363b 100%);
    /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s; }
  .btn_main:hover:after, .btn_main:focus:after {
    opacity: 1; }

.btn_linear {
  border: solid 1px #bcc7d1;
  border-radius: 29px; }
  .btn_linear, .btn_linear .btn__link {
    color: #78909c; }

.btn_trigger {
  border: solid 2px #b3b8c7;
  background-color: transparent;
  border-radius: 29px; }
  .btn_trigger, .btn_trigger .btn__link {
    color: #67686b; }
