* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-width: 1230px;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px; }

.content_w-sidebar {
  float: left;
  width: 825px; }

h1, .h1 {
  color: #0076d6;
  font-size: 42px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  margin-left: -2px; }

h2, .h2 {
  font-size: 32px;
  color: #0076d6;
  line-height: 1;
  margin: 0;
  font-weight: 300; }

h3, .h3 {
  color: #0076d6;
  font-size: 28px;
  font-weight: 300;
  line-height: 1;
  margin: 0; }

h4, .h4 {
  color: #0076d6;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin: 0; }

.slick-initialized {
  visibility: visible !important; }

.slick-track,
.slick-list {
  -webkit-perspective: 2000;
  -webkit-backface-visibility: hidden; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }

.embed-responsive_16by9 {
  padding-bottom: 56.25%; }

.embed-responsive_118by73 {
  padding-bottom: 61.8644068%; }

.embed-responsive_114by91 {
  padding-bottom: 79.82456%; }

.embed-responsive_3by2 {
  padding-bottom: 66.66667%; }

.embed-responsive_2by1 {
  padding-bottom: 50%; }

.embed-responsive .embed-responsive__item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  border: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }

.img-container {
  display: table;
  text-align: center;
  overflow: hidden; }

.img-container__vertical-center-block {
  display: table-cell;
  vertical-align: middle; }

.img-container__img_small {
  margin: auto;
  width: auto !important; }

.img-container__img {
  vertical-align: top;
  width: 100%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.outer {
  height: 100%; }
  .outer:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: ""; }

.inner {
  display: inline-block;
  vertical-align: middle; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px; }

.container_wide {
  width: 1230px; }

.container_narrow {
  width: 1170px; }

.container:before, .container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }
