@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n2hhpl');
  src:  url('fonts/icomoon.eot?n2hhpl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n2hhpl') format('truetype'),
    url('fonts/icomoon.woff?n2hhpl') format('woff'),
    url('fonts/icomoon.svg?n2hhpl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_thumb:before {
  content: "\e92d";
}
.icon_mail:before {
  content: "\e92a";
}
.icon_phone:before {
  content: "\e92b";
}
.icon_pin:before {
  content: "\e92c";
}
.icon_truck-italic:before {
  content: "\e929";
}
.icon_building:before {
  content: "\e91d";
}
.icon_cart2:before {
  content: "\e91e";
}
.icon_case:before {
  content: "\e91f";
}
.icon_count:before {
  content: "\e920";
}
.icon_dish:before {
  content: "\e921";
}
.icon_elevator:before {
  content: "\e922";
}
.icon_gear2:before {
  content: "\e923";
}
.icon_hook:before {
  content: "\e924";
}
.icon_list:before {
  content: "\e925";
}
.icon_printer:before {
  content: "\e926";
}
.icon_tools:before {
  content: "\e927";
}
.icon_trees:before {
  content: "\e928";
}
.icon_rotate:before {
  content: "\e91c";
}
.icon_time:before {
  content: "\e91a";
}
.icon_wallet:before {
  content: "\e91b";
}
.icon_zoom-in:before {
  content: "\e919";
}
.icon_student:before {
  content: "\e918";
}
.icon_checklist:before {
  content: "\e914";
}
.icon_text-bubble-double:before {
  content: "\e915";
}
.icon_truck-w-arrow:before {
  content: "\e916";
}
.icon_gears:before {
  content: "\e917";
}
.icon_checked:before {
  content: "\e912";
}
.icon_close:before {
  content: "\e913";
}
.icon_user:before {
  content: "\e900";
}
.icon_chart:before {
  content: "\e901";
}
.icon_gear:before {
  content: "\e902";
}
.icon_sign:before {
  content: "\e903";
}
.icon_cmd:before {
  content: "\e904";
}
.icon_note:before {
  content: "\e905";
}
.icon_hat:before {
  content: "\e906";
}
.icon_headphone:before {
  content: "\e907";
}
.icon_arrow-right:before {
  content: "\e908";
}
.icon_arrow-up:before {
  content: "\e909";
}
.icon_arrow-left:before {
  content: "\e90a";
}
.icon_arrow-down:before {
  content: "\e90b";
}
.icon_laurel:before {
  content: "\e90c";
}
.icon_cart:before {
  content: "\e90d";
}
.icon_arrow-angle-right:before {
  content: "\e90e";
}
.icon_arrow-angle-up:before {
  content: "\e90f";
}
.icon_arrow-angle-left:before {
  content: "\e910";
}
.icon_arrow-angle-down:before {
  content: "\e911";
}
