@charset "UTF-8";
/**
* Форма обратной связи
* #Заголовок
* #Контейнер контрола
* #Контрол
* #Checkbox / Radio
* #Описание поля
* #Submit
* #Footnote
* #Модальная
* #Сообщение после отправки
* #Капча
 */
.feedback-form {
  margin: auto; }

/* #Заголовок */
.feedback-form__title {
  margin-bottom: 40px; }

.feedback-form__title-value {
  line-height: 1;
  margin: 0; }

/* #Контейнер контрола */
.feedback-form__group {
  margin-top: 10px;
  width: 100%;
  position: relative; }

/* #Контрол */
.feedback-form__control:not(.feedback-form__control_type_file),
.feedback-form__control_type_list {
  background-color: #f2f4f5;
  border: none;
  width: 100%;
  color: #9d9fa1;
  font-weight: 300;
  font-size: 14px;
  padding: 17px;
  font-family: "Segoe UI", sans-serif;
  border-radius: 3px; }
  .feedback-form__control:not(.feedback-form__control_type_file)_has_error,
  .feedback-form__control_type_list_has_error {
    border: solid 1px #fb4a39; }
  .feedback-form__control:not(.feedback-form__control_type_file)::-webkit-input-placeholder,
  .feedback-form__control_type_list::-webkit-input-placeholder {
    color: #9d9fa1; }
  .feedback-form__control:not(.feedback-form__control_type_file):-ms-input-placeholder,
  .feedback-form__control_type_list:-ms-input-placeholder {
    color: #9d9fa1; }
  .feedback-form__control:not(.feedback-form__control_type_file)::-moz-placeholder,
  .feedback-form__control_type_list::-moz-placeholder {
    color: #9d9fa1; }
  .feedback-form__control:not(.feedback-form__control_type_file):focus,
  .feedback-form__control_type_list:focus {
    outline: none; }

.feedback-form__control_type_textarea {
  resize: vertical; }

.feedback-form__control_type_textarea_tall {
  height: 180px; }

.feedback-form__control_type_textarea_short {
  height: 120px; }

.feedback-form__control_type_list {
  text-align: left;
  padding-right: 50px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.feedback-form__control_type_list_expand {
  background-color: #ebeced;
  border-radius: 3px 3px 0 0; }
  .feedback-form__control_type_list_expand .form-select__icon {
    -webkit-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg); }

.feedback-form__control_type_list .feedback-form__icon {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 50%;
  right: 23px;
  -webkit-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0); }
  .feedback-form__control_type_list .feedback-form__icon:before {
    font-size: 10px;
    color: #959698; }

.feedback-form__control_type_options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  z-index: 1; }

.feedback-form__control_type_option {
  background-color: #ebeced;
  border: none;
  width: 100%;
  color: #9d9fa1;
  font-weight: 300;
  font-size: 14px;
  padding: 17px;
  font-family: "Segoe UI", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .feedback-form__control_type_option:hover, .feedback-form__control_type_option:focus {
    background-color: #e3e5e6;
    outline: none; }

/* #Checkbox / Radio */
.custom-control {
  cursor: pointer;
  width: 100%;
  margin-top: 12px; }

.custom-control__input {
  width: 20px;
  height: 20px;
  margin: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  top: 0;
  left: 0; }

.custom-control__indicator {
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  background-color: #e2e5e7;
  margin-right: 12px;
  display: inline-block;
  border-radius: 3px; }
  .custom-control__indicator:before {
    vertical-align: middle;
    display: inline-block;
    font-weight: 700;
    font-family: "icomoon";
    font-size: 10px;
    color: transparent; }

.custom-control__name {
  font-size: 14px;
  font-weight: 300;
  color: #919191; }

.custom-control_type_checkbox .custom-control__input:checked ~ .custom-control__indicator:before {
  color: #d6141c; }

.custom-control__link {
  color: #d6141c;
  font-size: 14px;
  font-weight: 300; }

/* #Submit */
.feedback-form__submit {
  border: solid 1px #f84739;
  width: 280px;
  font-size: 18px;
  padding-top: 18px;
  padding-bottom: 19px;
  margin-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .feedback-form__submit .btn__link {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .feedback-form__submit:disabled {
    background: none;
    background-color: #F6F8F9;
    border-color: #F6F8F9;
    color: #A4A4A4; }
    .feedback-form__submit:disabled:hover, .feedback-form__submit:disabled:focus {
      background: none;
      background-color: #F6F8F9;
      border-color: #F6F8F9;
      color: #A4A4A4; }
    .feedback-form__submit:disabled:after {
      background: none; }
    .feedback-form__submit:disabled .btn__link {
      color: #A4A4A4; }

/* #Footnote */
.feedback-form__footnote {
  font-size: 11px;
  line-height: 12px;
  color: #3c3c3c;
  margin-top: 10px; }

/* #Модальная */
.feedback-form-modal-wrap {
  position: relative;
  margin: auto;
  text-align: center;
  background-color: #fff;
  display: none;
  padding: 60px;
  border-radius: 5px; }

.feedback-form_modal {
  width: 400px; }

.feedback-form__close {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  height: 15px;
  width: 15px; }
  .feedback-form__close:before {
    color: #bcc7d1;
    font-size: 10px; }

.feedback-form__title-subtitle {
  font-weight: 200;
  text-align: center;
  margin-top: 20px; }

/* #Сообщение после отправки */
.feedback-success-message {
  width: 520px;
  z-index: 15;
  text-align: center;
  padding: 65px 100px 90px 100px;
  border-radius: 5px; }

.feedback-success-message__icon {
  background-color: #f1f4f6;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 98px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 50%; }
  .feedback-success-message__icon:before {
    color: #fa5239;
    font-size: 40px; }

.feedback-success-message__title {
  font-size: 42px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 32px; }

.feedback-success-message__text {
  font-weight: 200;
  font-size: 20px; }
