.category {
  padding-top: 15px;
  padding-bottom: 110px; }

.category__panels {
  margin-top: 25px; }

.category__panel {
  border: solid 1px #b3b8c7;
  padding: 20px 30px;
  min-height: 182px;
  margin: 29px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px; }
  .category__panel:first-child {
    margin-top: 0; }
  .category__panel:hover, .category__panel:focus {
    background-color: #f6f8f9;
    border-color: transparent; }

.category-panel__title {
  color: #67686b;
  display: block;
  font-size: 20px;
  font-weight: 300;
  max-width: 600px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .category-panel__title:hover, .category-panel__title:focus {
    color: #ef3c3a; }

.category-panel__values {
  float: left; }

.category-panel__value {
  float: left;
  margin-right: 55px; }

.category-panel-value__title {
  color: #67686b;
  font-weight: 200;
  margin-bottom: 5px; }

.category-panel-value__number {
  font-family: "GothamPro", sans-serif;
  font-size: 32px; }

.category-panel-value__currency {
  font-family: "PTRoubleSans", sans-serif;
  font-size: 28px; }

.category-panel-value_measure {
  font-size: 20px;
  font-weight: 300; }

.category-panel_btn {
  float: right;
  width: 230px;
  margin-top: 5px;
  color: #67686b;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .category-panel_btn:hover, .category-panel_btn:focus {
    background-color: #ef3c3a;
    border-color: #ef3c3a; }
    .category-panel_btn:hover .category-panel__btn-link, .category-panel_btn:focus .category-panel__btn-link {
      color: #fff; }
  .category-panel_btn .category-panel__btn-link {
    color: #67686b; }

.category-panel__btn-link {
  font-size: 18px;
  padding-top: 11px;
  padding-bottom: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.category-panel__footer {
  text-align: center; }

.category-panel-footer__btn {
  width: 243px;
  display: inline-block;
  margin-right: 30px;
  font-size: 18px; }
  .category-panel-footer__btn:last-child {
    margin-right: 0; }
  .category-panel-footer__btn.btn_main {
    border: solid 1px #f94839; }

.category-panel-footer__btn-link {
  padding-top: 16px;
  padding-bottom: 18px;
  font-size: 18px; }

.category-panel-footer__btn-refresh {
  height: 60px;
  border: solid 2px #b3b8c7;
  background-color: transparent; }

.category-panel-footer__btn-icon-refresh:before {
  font-size: 16px;
  margin-right: 17px;
  vertical-align: middle; }
